
<div>
    Cart Total

    <form action="/cart" method="POST">
        <div class="cart" >
            {{cartTotal.large}}
            {{cartTotal.medium}}
            {{cartTotal.small}}
            <div>
                <input type="submit" value="Checkout"> 
            </div>  
        </div>    
    </form>

    <form action="/order-pizza" method="POST">
        <h2>Choose from our variety below</h2>
        <section id="section-b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h3>Large Pizza</h3>
                            <input type="submit" name="large" placeholder="R90.00" step=".01" value="{{choices.large}}">
                            <span>Place Order</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h3>Medium Pizza</h3>
                            <input type="submit" name="medium" placeholder="R55.00" step=".01" value="{{choices.medium}}">
                            <span>Place Order</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-content">
                            <h3>Small Pizza</h3>
                            <input type="submit" name="small" placeholder="R35.00" step=".01" value="{{choices.small}}">
                            <span>Place Order</span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </form>
    <footer id="main-footer">
        <div>
           <h2>Zandile's Pizza Shop</h2>
        </div>
    </footer>
</div>